*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 370px;
    
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
    z-index: 10;
}
.btn{
    padding: 0.8rem 1.2rem;
    background-color: darkblue;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s;
}
#btn:hover{
    color: #fff;
    background-color: black;
}
#modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 370px;
    
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
    z-index: 10;
}
.modal-header{
    display: flex;
    justify-content: space-between;

    padding: 1.3rem;
    border-bottom: 1px solid black;
    margin: 0 0.35rem;
}
.close-modal{
    height: 30px;
    width: 30px;

    margin-top: 4px;
}
.modal-body{
    padding: 1.3rem;
}
.buttons{
    margin-top: 2rem;
    text-align: end;
}
.btn-confirm{
    padding: 0.8rem 1.2rem;
    background-color: forestgreen;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s;
}
.btn-close{
    padding: 0.8rem 1.2rem;
    background-color: crimson;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s;
}

#modal.hide,#fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}